body {
  font-family: Helvetica;
  text-align: center;
}

h1, h2, h3 {
  font-weight: bold;
}

#top, .designed, footer {
  color: White;
}

h1 {
  font-size: 70px;
}

.main {
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.copyright {
  font-size: 11px;
}

footer {
  background-color: Dimgray;
}
